/**
 * Scratch v2.0
 * scr-reset.css
 *
 * Resets element styles to a base default, overriding any browser inconsistencies.
 * Handles browser quirks.
 *
 */


/* Reset elements */
html, body, div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address, img, dl,
dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form,
fieldset, legend, object, embed {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #000;
  direction: ltr;
  font: 81.25% 'Lucida Grande', arial, sans-serif;
}

/* Set default, padding, margin and font-size on block elements */
h1 {
  font-size: 1.23em;
  margin: 0 0 .77em;
}

h2,
h3 {
  font-size: 1.08em;
}


ul,
ol {
  margin: 0 0 1em 2em;
}

/* IE7 */
*+html ol {
  margin-left: 2.3em;
}

li {
  margin: 0 0 .5em;
}

dd {
  margin: 0 0 1em 2em
}

p,
pre,
address {
  margin: 0 0 1em;
}

blockquote {
  margin: 0 2em 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Inline element adjustments. */
sup,
sub {
  font-size: .77em;
}

q:before,
q:after {
  content: ''; /* Removes beinning and ending quotes */
}

/* Form element adjustments. */
legend {
  color: inherit;
}

/* Make sure form elements correctly inherit font rules. */
input,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

form .field-caption{
  font-style: italic;
}

form .input-message {
  visibility:hidden;
}

form .input-message.error {visibility:visible; color:#B94A48; }
form .input-message.success {visibility:visible; color:green; }
