#editor {
    text-align: center ;
    margin-top: 30px;
    display: none;
    position: relative;
}

.scratch_unsupported p {
    color: #aaa;
    font-size: 22px;
    margin-top: 14px;
    line-height: 28px;
}

