#scratch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9999px;
}

.scratch_unsupported p {
    color: #aaa;
    font-size: 22px;
    margin-top: 14px;
    line-height: 28px;
}

