@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";


#scratch {
    text-align: center ;
    margin-top: 30px;
    visibility: hidden;
    position: relative;
}

.scratch_unsupported p {
    color: #aaa;
    font-size: 22px;
    margin-top: 14px;
    line-height: 28px;
}

