@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";


a[href=""] {
    outline: 1px solid red;
}

#editor {
    text-align: center ;
    margin-top: 30px;
    display: none;
    position: relative;
}

.scratch_unsupported p {
    color: #aaa;
    font-size: 22px;
    margin-top: 14px;
    line-height: 28px;
}

body > main {
    > header,
    > article > header,
    > article > section,
    > footer {
        > div {
            @include outer-container;
        }
    }
}

dialog {
    @include span-columns(4);
}

footer {
    section {
        @include span-columns(4);
        @include shift(1);
    }

    nav {
        @include span-columns(2);
        &:first-of-type {
            @include shift(1);
        }
    }
}

footer, main header {
    background-color: $alt-background-color;
    color: $white;
}