<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">
    <title>ScratchX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/scratchx.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
    <header>
        <div>
            <a href="#home"><h1 class="scratchx-logo"><span>ScratchX</span></h1></a>
            <nav class="main-nav">
            <ul>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#extensions">See all Extensions</a></li>
            </ul>
            </nav>
        </div>
    </header>
    <article id="home">
        <header>
            <section>
                <div>
                    <h1>Play with Experimental Extensions to Scratch!</h1>
                    <p>With Experimental Extensions, you can create Scratch projects that connect with external hardware (such as electronic devices and robotics) and online resources (including web data and web services).</p>
                </div>
                <div class="open-extension">
                    <a href="#" data-action="modal" data-template="template-extension-file">Open Extension File</a>
                </div>
                <div class="open-url">
                    <a href="#" data-action="modal" data-template="template-extension-url">Open Extension URL</a>
                </div>
            </section>

            <ul class="featured-extensions">
                <li class="featured-extension">
                    <a href="?url=http://technoboy10.tk/twitter/examples/Fetch%20a%20Tweet.sbx" data-action="load-url">
                        <img src="images/extensions/twitter-extension-sm.png" />
                        <section>
                            <h2>Twitter</h2>
                            <p class="author">Connor Hudson, Kreg Hanning</p>
                        </section>
                    </a>
                </li>
                <li class="featured-extension">
                    <a href="?url=http://ericrosenbaum.github.io/tone-synth-extension/examples/Bouncing%20Synth%20Ball.sbx" data-action="load-url">
                        <img src="images/extensions/synth-extension-sm.png" />
                        <section>
                            <h2>Sound Synthesizer</h2>
                            <p class="author">Eric Rosenbaum</p>
                        </section>
                    </a>
                </li>
                <li class="featured-extension">
                    <a href="?url=http://scratchx.org/tmp/TalkingGobo.sbx" data-action="load-url">
                        <img src="images/extensions/text-extension-sm.png" />
                        <section>
                            <h2>Text to Speech</h2>
                            <p class="author">Sayamindu Dasgupta</p>
                        </section>
                    </a>
                </li>
                <li class="featured-extension">
                    <a href="?url=http://khanning.github.io/scratch-arduino-extension/examples/Arduino%20Example%20-%20Blink%20an%20LED.sbx" data-action="load-url">
                        <img src="images/extensions/arduino_small.png" />
                        <section>
                            <h2>Arduino</h2>
                            <p class="author">Kreg Hanning, David Mellis</p>
                        </section>
                    </a>
                </li>
            </ul>

            <div class="bottom-row">
                <div>

                    <aside class="icon-gears">Most physical extensions require the Scratch Device Plugin - <a href="https://scratch.mit.edu/info/ext_download/">Download here</a></aside>

                    <a href="#extensions"><button>See all Extensions</button></a>
                </div>  
            </div>
        </header>
        <aside class="warning message"><strong>Warning:</strong> all extensions are experimental and not a product of the Scratch Team. <a href="#faq">Find out more</a></aside>
        <section class="scratch-vs-scratchx">
            <div><div>
                <div>
                    <div>
                        <h2 class="logo-scratch">Scratch</h2>
                        <p>With the Scratch programming language, you can create your own interactive stories, games, and animations &emdash; and share your creations with others in an online community. <a href="http://scratch.mit.edu/">Take me to Scratch</a></p>
                    </div>
                </div>
                <div>
                    <div>
                        <h2 class="logo-scratchx">ScratchX</h2>
                        <p>On the ScratchX website, you can play with Experimental Extensions to Scratch. Because these extensions are experimental and not enforsed or supported by the Scratch Team, they are available only on the ScratchX site, not the main Scratch site. <a href="#extensions">Try out ScratchX</a></p>
                    </div>
                </div>
            </div></div>
        </section>
        <section class="who-uses-scratchx">
            <div><div>
                <div>
                    <h2>Who uses ScratchX?</h2>
                    <p><strong>Anyone</strong> can access and play with Experimental Extensions on ScratchX. Integrate <a href="?url=https://technoboy10.github.io/twitter/extension.js" data-action="load-url">Twitter</a> feeds into your Scratch project, connect with hardware like <a href="?url=http://khanning.github.io/scratch-arduino-extension/arduino_extension.js" data-action="load-url">Arduino</a> and <a href="?url=https://MrYsLab.github.io/xi4s.js" data-action="load-url">Raspberry Pi</a>, and <a href="#extensions">much much more.</a></p>

                    <p><strong>Developers</strong> can use ScratchX to create and test new Experimental Extensions. Learn more about ScratchX in our <a href="https://github.com/LLK/scratchx/wiki/">developer documentation</a></p>
                </div>
            </div></div>
        </section>
        <nav>
            <ul>
                <li class="faq"><a href="#faq">Frequently Asked Questions</a></li>
                <li class="extensions"><a href="#extensions">See all Extensions</a></li>
                <li class="documentation"><a href="https://github.com/LLK/scratchx/wiki/">Developer Documentation</a></li>
            </ul>
        </nav>
    </article>
    <article id="extensions">
        <section class="intro">
            <div>
                <div>
                    <h1>Gallery of Experimental Extensions</h1>
                    <p>With Experimental Extensions, you can create Scratch projects that connect with external hardware and online resources. Try examples below to see the wide variety of things you can do with Experimental Extensions!</p>

                    <p>If you are a developer with an extension that you'd like to submit to our gallery, read more about the <a href="https://github.com/LLK/scratchx/wiki#how-do-i-submit-my-extension-for-consideration-on-scratchx" target="_blank">submission process here</a>.</p>
                </div>
            </div>
        </section>
        <aside class="warning message"><strong>Warning:</strong> all extensions are experimental and not a product of the Scratch Team. <a href="#faq">Find out more</a></aside>
        <section class="gallery">
            <div>
                <ul>
                    <li>
                        <a href="?url=http://khanning.github.io/scratch-arduino-extension/arduino_extension.js" data-action="load-url">
                            <header>
                                <h2>Arduino</h2>
                                <p class="author">Kreg Hanning, David Mellis</p>
                            </header>
                            <img src="images/extensions/arduino_small.png" />
                        </a>
                        <section class="description">
                            <p>Control Arduino boards</p>
                            <a href="?url=http://khanning.github.io/scratch-arduino-extension/examples/Arduino%20Example%20-%20Blink%20an%20LED.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://khanning.github.io/scratch-arduino-extension/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
					<li>
                        <a href="?url=http://kaspesla.github.io/ev3_scratch/ev3_scratch.js" data-action="load-url">
                            <header>
                                <h2>EV3+Scratch</h2>
                                <p class="author">Ken Aspeslagh</p>
                            </header>
                            <img src="images/extensions/ev3_small.png" />
                        </a>
                        <section class="description">
                            <p>Control LEGO EV3 robots wirelessly</p>
                            <a href="?url=http://kaspesla.github.io/ev3_scratch/examples/avoid%20obstacles%20example.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://kaspesla.github.io/ev3_scratch/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://technoboy10.github.io/mesh/mesh.js" data-action="load-url">
                            <header>
                                <h2>Firebase Mesh</h2>
                                <p class="author">Connor Hudson</p>
                            </header>
                            <img src="images/extensions/mesh-extension-sm.png" />
                        </a>
                        <section class="description">
                            <p>Broadcast messages to other projects!</p>
                            <a href="?url=http://technoboy10.tk/mesh/mesh.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://technoboy10.tk/mesh/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://intel-realsense-extension-for-scratch.github.io/public/extension/intel_realsense_extension.js" data-action="load-url">
                            <header>
                                <h2>Intel&reg; RealSense&trade;</h2>
                                <p class="author">Shachar Oz, Yaron Yanai, Yotam Salmon</p>
                            </header>
                            <img src="images/extensions/realsense_small.png" />
                        </a>
                        <section class="description">
                            <p>Hand Gestures, face tracking, voice commands</p>
                            <a href="?url=http://intel-realsense-extension-for-scratch.github.io/public/extension/samples/Realsense_Block_Usages.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://intel-realsense-extension-for-scratch.github.io/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=https://irobotstem.github.io/CreateScratchX/roomba600Extension.js" data-action="load-url">
                            <header>
                                <h2>iRobot&reg; Create&reg; 2</h2>
                                <p class="author">iRobot</p>
                            </header>
                            <img src="images/extensions/iRobot_small.png" />
                        </a>
                        <section class="description">
                            <p>Control iRobot&reg; Create&reg; 2</p>
                            <a href="?url=http://irobotstem.github.io/CreateScratchX/examples/Create%20Example%20-%20Tethered%20Driving.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://irobotstem.github.io/CreateScratchX/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=https://khanning.github.io/scratch-isstracker-extension/iss_extension.js" data-action="load-url">
                            <header>
                                <h2>ISS Tracker</h2>
                                <p class="author">Kreg Hanning</p>
                            </header>
                            <img src="images/extensions/ISSTracker_small.png" />
                        </a>
                        <section class="description">
                            <p>International Space Station tracker</p>
                            <a href="?url=http://khanning.github.io/scratch-isstracker-extension/examples/ISS%20Tracker.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://khanning.github.io/scratch-isstracker-extension/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://khanning.github.io/scratch-leapmotion-extension/leapmotion_extension.js" data-action="load-url">
                            <header>
                                <h2>Leapmotion</h2>
                                <p class="author">Kreg Hanning</p>
                            </header>
                            <img src="images/extensions/leapmotion_small.png" />
                        </a>
                        <section class="description">
                            <p>Hand and finger tracking</p>
                            <a href="?url=http://khanning.github.io/scratch-leapmotion-extension/examples/Leap%20Motion%20Example%20-%20Hand%20Skeleton.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://khanning.github.io/scratch-leapmotion-extension/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://khanning.github.io/scratch-littlebits-extension/littlebits_extension.js" data-action="load-url">
                            <header>
                                <h2>littleBits</h2>
                                <p class="author">Kreg Hanning</p>
                            </header>
                            <img src="images/extensions/littlebits_small.jpg" />
                        </a>
                        <section class="description">
                            <p>Control littleBits creations</p>
                            <a href="?url=http://khanning.github.io/scratch-littlebits-extension/examples/littleBits%20-%20Move%20with%20Dimmer.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://khanning.github.io/scratch-littlebits-extension/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
					<li>
                        <a href="?url=http://creativecomputerlab.github.io/MakeSenseConnector-1.0.js" data-action="load-url">
                            <header>
                                <h2>Make!Sense</h2>
                                <p class="author">Stephen Lewis, Deqing Sun, Steven Holmes</p>
                            </header>
                            <img src="images/extensions/makesense_small.png" />
                        </a>
                        <section class="description">
                            <p>Sensor interface board and sensors</p>
                            <a href="?url=http://creativecomputerlab.github.io/DataBufferAnalog.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://creativecomputerlab.com/makesense.html#datamodeinstructions" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://MrYsLab.github.io/rb4s/rb4s.js" data-action="load-url">
                            <header>
                                <h2>rb4s – A Controller For The RedBot</h2>
                                <p class="author">Alan Yorinks</p>
                            </header>
                            <img src="images/extensions/rb4s_small.png" />
                        </a>
                        <section class="description">
                            <p>Control and Monitor a RedBot Robot</p>
                            <a href="?url=http://MrYsLab.github.io/rb4s/quickTest.sbx" data-action="load-url">Sample Project</a>
                            <a href="https://github.com/MrYsLab/rb4s/wiki">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://roamereducationalrobot.github.io/RoamerScratchX/roamer.js" data-action="load-url">
                            <header>
                                <h2>Roamer</h2>
                                <p class="author">Kevin Rands, Dave Ewins, Dave Catlin</p>
                            </header>
                            <img src="images/extensions/roamer_small.png" />
                        </a>
                        <section class="description">
                            <p>Programming Roamer&reg; with ScratchX</p>
                            <a href="?url=http://roamereducationalrobot.github.io/RoamerScratchX/The%20Scarlet%20Pumpernickel.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://www.roamer-educational-robot.com/roamer-scratchx-training/">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://scratch3d.github.io/Scratch3D_Beta/extension/ScratchThreeJS.js" data-action="load-url">
                            <header>
                                <h2>Scratch3D</h2>
                                <p class="author">Stephen Lewis, John Goodwin</p>
                            </header>
                            <img src="images/extensions/scratch3d_small.png" />
                        </a>
                        <section class="description">
                            <p>Fully 3D Environment</p>
                            <a href="?url=http://scratch3d.github.io/examples/tierOne/HelloWorld.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://www.scratch3d.org" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://ericrosenbaum.github.io/tone-synth-extension/tone-synth.js" data-action="load-url">
                            <header>
                                <h2>Sound Synthesizer</h2>
                                <p class="author">Eric Rosenbaum</p>
                            </header>
                            <img src="images/extensions/synth-extension-sm.png" />
                        </a>
                        <section class="description">
                            <p>Synthesize sound effects and music</p>
                            <a href="?url=http://ericrosenbaum.github.io/tone-synth-extension/examples/Bouncing%20Synth%20Ball.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://ericrosenbaum.github.io/tone-synth-extension" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://sayamindu.github.io/scratch-extensions/text-to-speech/text_to_speech_extension.js" data-action="load-url">
                            <header>
                                <h2>Text to Speech</h2>
                                <p class="author">Sayamindu Dasgupta</p>
                            </header>
                            <img src="images/extensions/text-extension-sm.png" />
                        </a>
                        <section class="description">
                            <p>Use Scratch to read text out loud</p>
                            <a href="?url=http://scratchx.org/tmp/TalkingGobo.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://sayamindu.github.io/scratch-extensions/text-to-speech" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=https://technoboy10.github.io/twitter/extension.js" data-action="load-url">
                            <header>
                                <h2>Twitter</h2>
                                <p class="author">Connor Hudson, Kreg Hanning</p>
                            </header>
                            <img src="images/extensions/twitter-extension-sm.png" />
                        </a>
                        <section class="description">
                            <p>Use Twitter in your projects!</p>
                            <a href="?url=http://technoboy10.tk/twitter/examples/Fetch%20a%20Tweet.sbx" data-action="load-url">Sample Project</a>
                            <a href="http://technoboy10.tk/twitter/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag web" title="Web Extension">Requires Internet Connection</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=https://MrYsLab.github.io/xi4s.js" data-action="load-url">
                            <header>
                                <h2>Xi - Multi uC Interconnect</h2>
                                <p class="author">Alan Yorinks</p>
                            </header>
                            <img src="images/extensions/xi3_small.png" />
                        </a>
                        <section class="description">
                            <p>Control for Arduino, <acronym title="Raspberry Pi">RPi</acronym> and <acronym title="BeagleBone Black">BBB</acronym></p>
                            <a href="?url=https://MrYsLab.github.io/blink.sbx" data-action="load-url">Sample Project</a>
                            <a href="https://github.com/MrYsLab/xi" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Requires Hardware</span>
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    </article>
    <article id="privacy-policy">
        <section>
            <div>
                <aside class="warning message"><strong>Warning:</strong> These extensions are experimental. <a href="#faq">Please read the FAQ before trying them.</a></aside>
                <div>
                    <section class="main">
                        <h1>Privacy Policy</h1>
                        <p id="privacy-introduction">ScratchX is a platform that enables people to test experimental functionality built by developers for the visual programming language <a href="http://scratch.mit.edu">Scratch</a>. The purpose of this website is to provide a playground for people to test experimental content. We wrote this privacy policy to explain what information we access and how we use it. If you have any questions regarding this policy, you can <a href="mailto:scratch-extensions@scratch.mit.edu">contact us</a>.</p>
                        

                        <h2 id="privacy-external-services">External Services</h2>
                        <p><strong>GitHub Pages:</strong> Developers who link their content to ScratchX are required to host their experimental content on an external service called <a href="https://pages.github.com/">GitHub pages</a>, which is governed by GitHub's own <a href="https://help.github.com/articles/github-terms-of-service/">Terms of Service</a> and <a href="https://help.github.com/articles/github-privacy-policy/">Privacy Policy</a>. The ScratchX site itself is also hosted on GitHub pages, and is governed by their terms and policy (in addition to the ScratchX terms and policy).</p>

                        <p><strong>Google Analytics:</strong> Using an external service called Google Analytics, we collect some data about where you click and which parts of the site you visit. This "click data" helps us figure out ways to improve the website. Information collected and processed by Google Analytics includes the user's IP address, network location, and geographic location. Google Analytics acquires all of its information directly from the user, by installing a cookie (see below) on your computer, if you have enabled JavaScript. We do not share any information (other than aggregate statistics) that we collect with Google, and Google does not collect any personal identifying information about you. You can read Google Analytics' privacy policy <a href="https://support.google.com/analytics/answer/6004245?hl=en">here</a>.</p>

                        <p><strong>Cookies:</strong> Google Analytics (above) uses cookies in order to gather information about your use of the ScratchX website. A cookie is a small text file that Google Analytics can send to your browser for storage on your computer.</p>

                        <h2 id="privacy-use-your-information">How do we use your information?</h2>
                        <ul>
                            <li>Via Google Analytics, we gather browsing data so that we know how people use the website.</li>
                            <li>Other than as described above, we will never share personally identifiable information about you with any other person, company, or organization, except as required to comply with our obligations under the law.</li>
                        </ul>

                        <h2 id="privacy-notifications-of-changes">Notifications of Changes to the Privacy Policy</h2>
                        <p>We review our  Privacy Policy on a periodic basis, and we may modify our policies as appropriate. We may also change or update our Privacy Policy if we add new services or features. If we make any changes to our privacy practices, we will amend this Privacy Policy accordingly and post the amended policy on the ScratchX website. We encourage you to review our Privacy Policy on a regular basis.</p>
                    </section>
                    <nav>
                        <h3>Contents</h3>
                        <ol>
                            <li><a href="#privacy-introduction">Introduction</a></li>
                            <li><a href="#privacy-external-services">External Services</a></li>
                            <li><a href="#privacy-use-your-information">How do we use your information?</a></li>
                            <li><a href="#privacy-notifications-of-changes">Notifications of Changes to the Privacy Policy</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
    </article>
    <article id="faq">
        <section>
            <div>
                <aside class="warning message"><strong>Warning:</strong> These extensions are experimental. <a href="#faq">Please read the FAQ before trying them.</a></aside>
                <div>
                    <section class="main">
                        <h1><abbr title="Frequently Asked Questions">FAQ</abbr></h1>

                        <h2 id="faq-what-is-scratchx">What is ScratchX?</h2>
                        <p>ScratchX is a platform that enables people to test experimental functionality built by developers for the visual programming language Scratch.</p>

                        <h2 id="faq-scratch-vs-scratchx">What's the difference between Scratch and ScratchX?</h2>
                        <p><a href="https://scratch.mit.edu/">Scratch</a> is a programming language and online community where you can create your own interactive stories, games, and animations. ScratchX is a separate experimental platform built to test experimental Scratch features, also known as Experimental Extensions. There is no login or community component to ScratchX, and projects created within ScratchX can only be run on ScratchX.</p>

                        <h2 id="faq-scratch-extensions">What are Scratch Extensions?</h2>
                        <p>Scratch extensions make it possible for Scratch to interface with external hardware and information outside of the Scratch website through new blocks. Extensions  are written in JavaScript for the ScratchX project editor.</p>

                        <h2 id="faq-experimental-official">What is the difference between Experimental and Official Extensions?</h2>
                        <p>Experimental Extensions are extensions created for Scratch by the community; they are not managed or endorsed by Scratch in any way. Experimental Extensions can run only in the ScratchX environment. Official Extensions can be found and run from within Scratch 2.0 (both <a href="https://scratch.mit.edu">online</a> and <a href="https://scratch.mit.edu/scratch2download/">offline</a> editors), accessible in the 'More Blocks' section of the blocks menu.</p>

                        <h2 id="faq-experimental-safe">Are Experimental Extensions safe?</h2>
                        <p>The Scratch Team has created ScratchX to enable people to create and test Experimental Extensions. However, the Scratch Team does not endorse, support or maintain specific Experimental Extensions. People using Experimental Extensions should be careful not to provide any personal details such as login passwords or personally-identifiable information if prompted by an Experimental Extension.</p>

                        <h2 id="faq-how-to-use-scratchx">How do I use ScratchX?</h2>
                        <p>There are three pathways into ScratchX. If you have been given or sent a .sbx file, you can load that into ScratchX via the homepage (look for 'Open an Extension Project'). If you have been sent a ScratchX URL (starts with 'scratchx.org/'), you can click your link and the extension will load automatically, or you can enter that URL into the box on the homepage (look for 'Open an Extension URL'). Lastly, if you don't have an example extension, you can try out one on the site by visiting the <a href="#extensions">Gallery page</a> and clicking on an example extension there.</p>

                        <h2 id="faq-how-to-share">I made a cool project on ScratchX. How do I share it?</h2>
                        <p>Click the 'Save' button at the top of the page to download your project as an .sbx file on to your local computer. You can then send this file to other people, and they can upload your file onto ScratchX to play with your project.</p>

                        <h2 id="faq-examples">Where can I find example Experimental Extensions to play around with?</h2>
                        <p>You can find a list of example extensions in the <a href="#extensions">ScratchX Gallery</a>. We plan to add more extensions to this page in the coming months.</p>

                        <h2 id="faq-scratchx-url">What is a ScratchX URL?</h2>
                        <p>Developers who make extensions for ScratchX can choose to create a custom web address or URL that points to their extension and/or demo project. Clicking on a ScratchX extension URL will take you directly to a project with an extension loaded.</p>

                        <h2 id="faq-sbx-file">What is an .sbx file?</h2>
                        <p>The SBX (.sbx) ScratchX file format is the file format used to encode ScratchX projects when they are downloaded to a user's computer. SBX files can only be used on the ScratchX site. Other Scratch environments use different formats, including the .sb2 format for Scratch 2.0 (read more here) and .sb format for Scratch 1.4 (read more here).</p>


                        <h2 id="faq-open-sbx">Why can't I open .sbx files in Scratch 2.0 or the offline editor?</h2>
                        <p>Experimental Extensions are extensions created for Scratch by the community and are not managed or endorsed by Scratch in any way. Because of this, we do not allow Experimental Extensions to run on the larger Scratch site.</p>
                    </section>
                    <nav>
                        <h3>Contents</h3>
                        <ol>
                            <li><a href="#faq-what-is-scratchx">What is ScratchX?</a></li>
                            <li><a href="#faq-scratch-vs-scratchx">What's the difference between Scratch and ScratchX?</a></li>
                            <li><a href="#faq-scratch-extensions">What are Scratch Extensions?</a></li>
                            <li><a href="#faq-experimental-official">What is the difference between Experimental and Official Extensions?</a></li>
                            <li><a href="#faq-experimental-safe">Are Experimental Extensions safe?</a></li>
                            <li><a href="#faq-how-to-use-scratchx">How do I use ScratchX?</a></li>
                            <li><a href="#faq-how-to-share">I made a cool project on ScratchX. How do I share it?</a></li>
                            <li><a href="#faq-examples">Where can I find example Experimental Extensions to play around with?</a></li>
                            <li><a href="#faq-scratchx-url">What is a ScratchX URL?</a></li>
                            <li><a href="#faq-sbx-file">What is an .sbx file?</a></li>
                            <li><a href="#faq-open-sbx">Why can't I open .sbx files in Scratch 2.0 or the offline editor?</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
    </article>
    <footer>
        <div>
            <section>
                <p>Extensions on ScratchX are experimental and are not reviewed by the Scratch Team or the MIT Media Lab.</p>
                <p><a href="https://scratch.mit.edu/">Scratch</a> is a project of the Lifelong Kindergarten Group at the MIT Media Lab.</p>
                <p>
                    <a class="twitter" title="Follow us on Twitter" href="https://twitter.com/scratch/" target="_blank"><span>@scratch on Twitter</span></a>
                    <a class="github" title="Fork us on GitHub" href="https://github.com/LLK/scratchx/" target="_blank"><span>LLK on GitHub</span></a>
                </p>
            </section>

            <nav>
                <h2>ScratchX</h2>
                <ul>
                    <li><a href="https://scratch.mit.edu/terms_of_use/">Terms of Service</a></li>
                    <li><a href="#privacy-policy">Privacy Policy</a></li>
                    <li><a href="mailto:scratch-extensions@scratch.mit.edu">Contact Us</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="https://scratch.mit.edu/discuss/48/">Forums</a></li>
                </ul>
            </nav>

            <nav>
                <h2>Scratch Family</h2>
                <ul>
                    <li><a href="https://scratch.mit.edu/">Scratch</a></li>
                    <li><a href="http://scratched.gse.harvard.edu/">ScratchEd</a></li>
                    <li><a href="http://www.scratchjr.org/">ScratchJr</a></li>
                    <li><a href="https://scratch.mit.edu/conference/">Scratch Conference</a></li>
                    <li><a href="http://day.scratch.mit.edu/">Scratch Day</a></li>
                    <li><a href="http://scratchfoundation.org/">Scratch Foundation</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</main>
<section id="scratch">
    <div class="scratch_unsupported">
        <p>
            Oh Noes! Scratch project cannot display.<br/>
            Flash player is disabled, missing, or less than version 10.2.
        </p>
        <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img
                src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
                alt="Get Adobe Flash player"/></a>
    </div>
    <div class="scratch_loading"></div>
</section>
<script type="text/template" id="template-warning">
<dialog class="extension-warning with-icon">
    <section>
        <h2>Warning</h2>
        <p>The extensions on this site are experimental</p>
    </section>
    <section>
        <p>The Scratch Team is <strong>not</strong> responsible for the extensions and projects on this site. Please use caution when using these extensions. <a href="#faq">Learn More</a></p>

        <button data-action="show" data-target="home">Back to ScratchX home</button>
        <button class="success">I understand, continue</button>
    </section>
</dialog>
</script>
<script type="text/template" id="template-short-url">
<dialog class="single">
    <section>
        <h2>Short URL</h2>
    </section>
    <section>
        <p>Click to copy the short url for this project</p>
        <div class="input-plus-button">
            <input type="text" value="<%- shortUrl %>" name="shortUrl" disabled />
            <button data-clipboard-text="<%- shortUrl %>">Copy</button>
        </div>
    </section>
</dialog>
</script>
<script type="text/template" id="template-extension-url">
<dialog class="extension-url with-icon">
    <section>
        <h2>Open an Extension URL</h2>
        <p>Paste the web address below</p>
        <p><a href="#faq-scratchx-url">What is a ScratchX URL?</a></p>
    </section>
    <section>
        <form class="input-plus-button url-load-form">
            <input type="text" placeholder="paste url..." />
            <button type="submit">Open</button>
        </form>
    </section>
</dialog>
</script>
<script type="text/template" id="template-extension-file">
<dialog class="extension-file with-icon">
    <section>
        <h2>Open an Extension Project</h2>
        <p>Choose a .sbx file from your local drive</p>
        <p><a href="#faq-sbx-file">What is a .sbx file?</a></p>
    </section>
    <section>
        <button data-action="load-file">Browse for local file</button>
    </section>
</dialog>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-30688952-3', 'auto');
  ga('send', 'pageview', 'home');
</script>
<script type="text/javascript" src="libs/base64ab.js" async></script>
<script type="text/javascript" src="libs/swfobject.js"></script>
<script type="text/javascript" src="libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="libs/underscore-min.js" async></script>
<script type="text/javascript" src="libs/ZeroClipboard.min.js" async></script>
<script type="text/javascript" src="js/scratchx.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_proxies.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_plugin.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_nmh.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_ext.js" defer></script>
</body>
</html>
