// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "normalize";
@import "mixins";
@import "icons";
@import "variables";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
@import "modal";

dialog {
    display: block;
    position: static;

    h2 {
        text-align: center;
        margin: 4 * $vertical-base 0 $vertical-base 0;
    }
    
    section {
        background-color: $alt-background-color;
        color: $alt-font-color;
        /* Kill margin collapse */
        padding: 1px;
    }

    section:last-child {
        background-color: $base-background-color;
        padding: 2 * $vertical-base;
        color: $base-font-color;
    }

    button {
        display: inline-block;
        line-height: normal;
        width: 100%;
        padding: $vertical-base;
        /*
            Needed so that all buttons are the same height
            as text inputs
        */
        border: 1px solid;
    }

}

.message {
    border-radius: $base-border-radius;
    line-height: 49px;
    text-align: center;
    margin: $vertical-base * 4 0;
}

.warning {
    @extend .message;
    background-color: $yellow;
    color: $dark-gray;
}

.info {
    @extend .message;
    background-color: $light-gray;
    color: $dark-gray;
}

article header h1 {
    text-align: center;
}

article header p {
    text-align: center;
}

article header h1 + p {
    @include span-columns(10);
    @include shift(1);
}

body > main > article > section {
    ul {
        @extend %default-ul;
    }

}

.twitter, .github {
    display: block;
    float: left;
    margin-right: 2 * $gutter;
    span {
        display: none;
    }
}

.twitter {
    @include icon(before, twitter, circular, false, 4 * $vertical-base){
        display: inline-block;
        line-height: 5 * $vertical-base;
        width: 5 * $vertical-base;
        height: 5 * $vertical-base;
        border-radius: 2.5 * $vertical-base;
        background-color: $blue;
        color: $white;
    }
}

.github {
    @include icon(before, github, circular, false, 4 * $vertical-base){
        display: inline-block;
        line-height: 5 * $vertical-base;
        width: 5 * $vertical-base;
        height: 5 * $vertical-base;
        border-radius: 2.5 * $vertical-base;
        background-color: $blue;
        color: $white;
    }
}
